{% extends "lab_4/layout/base.html"%}
{% block content %}
<center><h1> Portofolio</h1><center>
<center><img class="img-circle" src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/11251836_500916760084197_1764525989_n.jpg?ig_cache_key=MTA0ODg5MzE0MTQ0MjI0NDI1Nw%3D%3D.2"width="400" height="400"></center>

<section name = "bio">
    <center><h2>Bio </h2></center>
    <p>
      {{content}}
    </p>
  </section>

    <section name ="about_me">
      <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
    </section>

<section name="form">
  <h2>Send Message</h2>
  <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
    {% csrf_token %}
    {{ message_form }}
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
{% endblock %}
