<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-9:index' %}">Lab 9</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          {% if tombol == 1 %}
          <li><a href="{% url 'lab-9:auth_logout' %}"> <button class="btn btn-danger btn-round ">Logout </button></a></li>

          {% elif tombol == 2 %}
          <li><a href="{% url 'lab-9:cookie_clear' %}"> <button class="btn btn-danger btn-round ">Logout </button></a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
